:root {
  --line-height: 0.9; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

body {
  background-color: #ea6227;
  width: 100vw; }

h1 {
  font-size: 12.3rem;
  font-weight: 500; }
  @media only screen and (max-width: 56.4em) {
    h1 {
      font-size: 9.2rem; } }
  @media only screen and (max-width: 43.1em) {
    h1 {
      font-size: 6.6rem; } }
  @media only screen and (max-width: 31.1em) {
    h1 {
      font-size: 4.3rem; } }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 3rem;
  font-weight: 400; }
  @media only screen and (max-width: 56.4em) {
    h5 {
      font-size: 2.4rem; } }
  @media only screen and (max-width: 43.1em) {
    h5 {
      font-size: 2.1rem; } }

h6 {
  font-size: 1.6rem; }

p {
  font-size: 2.2rem;
  font-weight: 100; }
  @media only screen and (max-width: 56.4em) {
    p {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 43.1em) {
    p {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 31.1em) {
    p {
      font-size: 1.8rem; } }

a:link {
  color: blue; }

a:visited {
  color: purple; }

a:hover {
  color: red; }

a:active {
  color: yellow; }

ul,
ol {
  list-style: none; }

.footer-left {
  grid-row: footer / span 1;
  grid-column: col1 / span 1;
  display: flex;
  align-items: flex-end;
  color: white; }

.footer-right {
  grid-row: footer / span 1;
  grid-column: col3 / span 3;
  display: flex;
  align-items: flex-end;
  color: white; }
  @media only screen and (max-width: 43.1em) {
    .footer-right {
      grid-column: col2 / span 1; } }
  @media only screen and (max-width: 31.1em) {
    .footer-right {
      grid-column: col1 / span 1;
      justify-content: flex-end; } }

.grid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) [col1] minmax(20rem, 20rem) [gap1] 2rem [col2] minmax(20rem, 20rem) [gap2] 2rem [col3] minmax(20rem, 20rem) [gap3] 2rem [col4] minmax(20rem, 20rem) minmax(2rem, 1fr);
  grid-template-rows: [row1] 13rem 2rem [row2] 13rem 2rem [row3] 13rem 2rem [row4] 13rem 2rem [row5] 13rem 2rem [row6] 13rem 2rem [row7] 13rem 2rem [row8] 13rem [footer] 8rem;
  margin-top: 8rem;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 56.4em) {
    .grid {
      grid-template-columns: minmax(2rem, 1fr) [col1] minmax(20rem, 20rem) [gap1] 2rem [col2] minmax(20rem, 20rem) [gap2] 2rem [col3] minmax(20rem, 20rem) minmax(2rem, 1fr); } }
  @media only screen and (max-width: 43.1em) {
    .grid {
      grid-template-columns: minmax(2rem, 1fr) [col1] minmax(20rem, 25rem) [gap1] 2rem [col2] minmax(20rem, 25rem) minmax(2rem, 1fr); } }
  @media only screen and (max-width: 31.1em) {
    .grid {
      grid-template-columns: minmax(2rem, 1fr) [col1] minmax(30rem, 35rem) minmax(2rem, 1fr); } }

.row1-col1 {
  grid-row: 1 / span 1;
  grid-column: col1 / span 1; }

.row1-col2-g {
  grid-row: 1 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row1-col2-g {
      display: none; } }

.row1-col3 {
  grid-row: 1 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row1-col3 {
      display: none; } }

.row1-col4-g {
  grid-row: 1 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row1-col4-g {
      display: none; } }

.row1-col5 {
  grid-row: 1 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row1-col5 {
      display: none; } }

.row1-col6-g {
  grid-row: 1 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row1-col6-g {
      display: none; } }

.row1-col7 {
  grid-row: 1 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row1-col7 {
      display: none; } }

.row2-g-col1 {
  grid-row: 2 / span 1;
  grid-column: col1 / span 1; }

.row2-g-col2-g {
  grid-row: 2 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row2-g-col2-g {
      display: none; } }

.row2-g-col3 {
  grid-row: 2 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row2-g-col3 {
      display: none; } }

.row2-g-col4-g {
  grid-row: 2 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row2-g-col4-g {
      display: none; } }

.row2-g-col5 {
  grid-row: 2 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row2-g-col5 {
      display: none; } }

.row2-g-col6-g {
  grid-row: 2 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row2-g-col6-g {
      display: none; } }

.row2-g-col7 {
  grid-row: 2 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row2-g-col7 {
      display: none; } }

.row3-col1 {
  grid-row: 3 / span 1;
  grid-column: col1 / span 1; }

.row3-col2-g {
  grid-row: 3 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row3-col2-g {
      display: none; } }

.row3-col3 {
  grid-row: 3 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row3-col3 {
      display: none; } }

.row3-col4-g {
  grid-row: 3 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row3-col4-g {
      display: none; } }

.row3-col5 {
  grid-row: 3 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row3-col5 {
      display: none; } }

.row3-col6-g {
  grid-row: 3 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row3-col6-g {
      display: none; } }

.row3-col7 {
  grid-row: 3 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row3-col7 {
      display: none; } }

.row4-g-col1 {
  grid-row: 4 / span 1;
  grid-column: col1 / span 1; }

.row4-g-col2-g {
  grid-row: 4 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row4-g-col2-g {
      display: none; } }

.row4-g-col3 {
  grid-row: 4 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row4-g-col3 {
      display: none; } }

.row4-g-col4-g {
  grid-row: 4 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row4-g-col4-g {
      display: none; } }

.row4-g-col5 {
  grid-row: 4 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row4-g-col5 {
      display: none; } }

.row4-g-col6-g {
  grid-row: 4 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row4-g-col6-g {
      display: none; } }

.row4-g-col7 {
  grid-row: 4 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row4-g-col7 {
      display: none; } }

.row5-col1 {
  grid-row: 5 / span 1;
  grid-column: col1 / span 1; }

.row5-col2-g {
  grid-row: 5 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row5-col2-g {
      display: none; } }

.row5-col3 {
  grid-row: 5 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row5-col3 {
      display: none; } }

.row5-col4-g {
  grid-row: 5 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row5-col4-g {
      display: none; } }

.row5-col5 {
  grid-row: 5 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row5-col5 {
      display: none; } }

.row5-col6-g {
  grid-row: 5 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row5-col6-g {
      display: none; } }

.row5-col7 {
  grid-row: 5 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row5-col7 {
      display: none; } }

.row6-g-col1 {
  grid-row: 6 / span 1;
  grid-column: col1 / span 1; }

.row6-g-col2-g {
  grid-row: 6 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row6-g-col2-g {
      display: none; } }

.row6-g-col3 {
  grid-row: 6 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row6-g-col3 {
      display: none; } }

.row6-g-col4-g {
  grid-row: 6 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row6-g-col4-g {
      display: none; } }

.row6-g-col5 {
  grid-row: 6 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row6-g-col5 {
      display: none; } }

.row6-g-col6-g {
  grid-row: 6 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row6-g-col6-g {
      display: none; } }

.row6-g-col7 {
  grid-row: 6 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row6-g-col7 {
      display: none; } }

.row7-col1 {
  grid-row: 7 / span 1;
  grid-column: col1 / span 1; }

.row7-col2-g {
  grid-row: 7 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row7-col2-g {
      display: none; } }

.row7-col3 {
  grid-row: 7 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row7-col3 {
      display: none; } }

.row7-col4-g {
  grid-row: 7 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row7-col4-g {
      display: none; } }

.row7-col5 {
  grid-row: 7 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row7-col5 {
      display: none; } }

.row7-col6-g {
  grid-row: 7 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row7-col6-g {
      display: none; } }

.row7-col7 {
  grid-row: 7 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row7-col7 {
      display: none; } }

.row8-g-col1 {
  grid-row: 8 / span 1;
  grid-column: col1 / span 1; }

.row8-g-col2-g {
  grid-row: 8 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row8-g-col2-g {
      display: none; } }

.row8-g-col3 {
  grid-row: 8 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row8-g-col3 {
      display: none; } }

.row8-g-col4-g {
  grid-row: 8 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row8-g-col4-g {
      display: none; } }

.row8-g-col5 {
  grid-row: 8 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row8-g-col5 {
      display: none; } }

.row8-g-col6-g {
  grid-row: 8 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row8-g-col6-g {
      display: none; } }

.row8-g-col7 {
  grid-row: 8 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row8-g-col7 {
      display: none; } }

.row9-col1 {
  grid-row: 9 / span 1;
  grid-column: col1 / span 1; }

.row9-col2-g {
  grid-row: 9 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row9-col2-g {
      display: none; } }

.row9-col3 {
  grid-row: 9 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row9-col3 {
      display: none; } }

.row9-col4-g {
  grid-row: 9 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row9-col4-g {
      display: none; } }

.row9-col5 {
  grid-row: 9 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row9-col5 {
      display: none; } }

.row9-col6-g {
  grid-row: 9 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row9-col6-g {
      display: none; } }

.row9-col7 {
  grid-row: 9 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row9-col7 {
      display: none; } }

.row10-g-col1 {
  grid-row: 10 / span 1;
  grid-column: col1 / span 1; }

.row10-g-col2-g {
  grid-row: 10 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row10-g-col2-g {
      display: none; } }

.row10-g-col3 {
  grid-row: 10 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row10-g-col3 {
      display: none; } }

.row10-g-col4-g {
  grid-row: 10 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row10-g-col4-g {
      display: none; } }

.row10-g-col5 {
  grid-row: 10 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row10-g-col5 {
      display: none; } }

.row10-g-col6-g {
  grid-row: 10 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row10-g-col6-g {
      display: none; } }

.row10-g-col7 {
  grid-row: 10 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row10-g-col7 {
      display: none; } }

.row11-col1 {
  grid-row: 11 / span 1;
  grid-column: col1 / span 1; }

.row11-col2-g {
  grid-row: 11 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row11-col2-g {
      display: none; } }

.row11-col3 {
  grid-row: 11 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row11-col3 {
      display: none; } }

.row11-col4-g {
  grid-row: 11 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row11-col4-g {
      display: none; } }

.row11-col5 {
  grid-row: 11 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row11-col5 {
      display: none; } }

.row11-col6-g {
  grid-row: 11 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row11-col6-g {
      display: none; } }

.row11-col7 {
  grid-row: 11 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row11-col7 {
      display: none; } }

.row12-g-col1 {
  grid-row: 12 / span 1;
  grid-column: col1 / span 1; }

.row12-g-col2-g {
  grid-row: 12 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row12-g-col2-g {
      display: none; } }

.row12-g-col3 {
  grid-row: 12 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row12-g-col3 {
      display: none; } }

.row12-g-col4-g {
  grid-row: 12 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row12-g-col4-g {
      display: none; } }

.row12-g-col5 {
  grid-row: 12 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row12-g-col5 {
      display: none; } }

.row12-g-col6-g {
  grid-row: 12 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row12-g-col6-g {
      display: none; } }

.row12-g-col7 {
  grid-row: 12 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row12-g-col7 {
      display: none; } }

.row13-col1 {
  grid-row: 13 / span 1;
  grid-column: col1 / span 1; }

.row13-col2-g {
  grid-row: 13 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row13-col2-g {
      display: none; } }

.row13-col3 {
  grid-row: 13 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row13-col3 {
      display: none; } }

.row13-col4-g {
  grid-row: 13 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row13-col4-g {
      display: none; } }

.row13-col5 {
  grid-row: 13 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row13-col5 {
      display: none; } }

.row13-col6-g {
  grid-row: 13 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row13-col6-g {
      display: none; } }

.row13-col7 {
  grid-row: 13 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row13-col7 {
      display: none; } }

.row14-g-col1 {
  grid-row: 14 / span 1;
  grid-column: col1 / span 1; }

.row14-g-col2-g {
  grid-row: 14 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row14-g-col2-g {
      display: none; } }

.row14-g-col3 {
  grid-row: 14 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row14-g-col3 {
      display: none; } }

.row14-g-col4-g {
  grid-row: 14 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row14-g-col4-g {
      display: none; } }

.row14-g-col5 {
  grid-row: 14 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row14-g-col5 {
      display: none; } }

.row14-g-col6-g {
  grid-row: 14 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row14-g-col6-g {
      display: none; } }

.row14-g-col7 {
  grid-row: 14 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row14-g-col7 {
      display: none; } }

.row15-col1 {
  grid-row: 15 / span 1;
  grid-column: col1 / span 1; }

.row15-col2-g {
  grid-row: 15 / span 1;
  grid-column: gap1 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row15-col2-g {
      display: none; } }

.row15-col3 {
  grid-row: 15 / span 1;
  grid-column: col2 / span 1; }
  @media only screen and (max-width: 31.1em) {
    .row15-col3 {
      display: none; } }

.row15-col4-g {
  grid-row: 15 / span 1;
  grid-column: gap2 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row15-col4-g {
      display: none; } }

.row15-col5 {
  grid-row: 15 / span 1;
  grid-column: col3 / span 1; }
  @media only screen and (max-width: 43.1em) {
    .row15-col5 {
      display: none; } }

.row15-col6-g {
  grid-row: 15 / span 1;
  grid-column: gap3 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row15-col6-g {
      display: none; } }

.row15-col7 {
  grid-row: 15 / span 1;
  grid-column: col4 / span 1; }
  @media only screen and (max-width: 56.4em) {
    .row15-col7 {
      display: none; } }

.grid-item-1 {
  grid-row: row1 / span 1;
  grid-column: col3 / span 3;
  z-index: 1000; }
  @media only screen and (max-width: 56.4em) {
    .grid-item-1 {
      grid-column: col3 / span 1; } }
  @media only screen and (max-width: 43.1em) {
    .grid-item-1 {
      grid-column: col2 / span 1; } }
  @media only screen and (max-width: 31.1em) {
    .grid-item-1 {
      grid-column: col1 / span 1; } }

.grid-item-2 {
  grid-row: row3 / span 1;
  grid-column: col1 / span 7;
  z-index: 1000; }
  @media only screen and (max-width: 43.1em) {
    .grid-item-2 {
      grid-column: col1 / span 3; } }
  @media only screen and (max-width: 31.1em) {
    .grid-item-2 {
      grid-row: row2 / span 1;
      grid-column: col1 / span 1; } }

.grid-item-3 {
  grid-row: row4 / span 1;
  grid-column: col1 / span 3;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1;
  letter-spacing: -0.35px; }
  @media only screen and (max-width: 31.1em) {
    .grid-item-3 {
      grid-row: row3 / span 1; } }

.grid-item-4 {
  grid-row: row4 / span 1;
  grid-column: col3 / span 3;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.15; }
  @media only screen and (max-width: 56.4em) {
    .grid-item-4 {
      grid-column: col2 / span 3;
      justify-content: flex-start; } }
  @media only screen and (max-width: 43.1em) {
    .grid-item-4 {
      grid-column: col2 / span 1;
      letter-spacing: -0.1px; } }
  @media only screen and (max-width: 31.1em) {
    .grid-item-4 {
      grid-column: col1 / span 1; } }

.grid-item-5 {
  grid-row: row5 / span 1;
  grid-column: col1 / span 7;
  z-index: 1000; }
  @media only screen and (max-width: 43.1em) {
    .grid-item-5 {
      grid-column: col1 / span 3; } }

.grid-item-6 {
  grid-row: row6 / span 1;
  grid-column: col1 / span 3;
  z-index: 1000; }
  @media only screen and (max-width: 56.4em) {
    .grid-item-6 {
      grid-column: col1 / span 1; } }

.grid-item-7 {
  grid-row: row6 / span 1;
  grid-column: col3 / span 3;
  z-index: 1000; }
  @media only screen and (max-width: 56.4em) {
    .grid-item-7 {
      grid-column: col2 / span 3; } }
  @media only screen and (max-width: 43.1em) {
    .grid-item-7 {
      grid-column: col2 / span 1; } }
  @media only screen and (max-width: 31.1em) {
    .grid-item-7 {
      grid-row: row7 / span 1;
      grid-column: col1 / span 1; } }

.grid-item-8 {
  grid-row: row8 / span 1;
  grid-column: col3 / span 1;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media only screen and (max-width: 43.1em) {
    .grid-item-8 {
      grid-column: col2 / span 1; } }
  @media only screen and (max-width: 31.1em) {
    .grid-item-8 {
      grid-column: col1 / span 1; } }

.u-text-center {
  text-align: center; }

.u-border {
  border: 1px solid #faf4f4; }

.u-border-x {
  border-left: 1px solid #faf4f4;
  border-right: 1px solid #faf4f4; }

.u-border-y {
  border-top: 1px solid #faf4f4;
  border-bottom: 1px solid #faf4f4; }

.u-font-light {
  font-weight: 100; }

.u-col3-display {
  display: none; }
  @media only screen and (max-width: 56.4em) {
    .u-col3-display {
      display: block; } }

.u-col3-display-none {
  display: block; }
  @media only screen and (max-width: 56.4em) {
    .u-col3-display-none {
      display: none; } }
