// --------------------------------------------------
// #Headers basic styling
// --------------------------------------------------
h1,
h5 {
  // line-height:  var(--line-height);
}


h1 {
  font-size: 12.3rem;
  font-weight: 500;


  @include respond(3col-grid) { font-size: 9.2rem }
  @include respond(2col-grid) { font-size: 6.6rem }
  @include respond(1col-grid) { font-size: 4.3rem }
};

h2 {
  font-size: 3rem;
};

h3 {
  font-size: 2.4rem;
};

h4 {
  font-size: 2rem;
};

h5 {
  font-size: 3rem;
  font-weight: 400;

  @include respond(3col-grid) { font-size: 2.4rem }
  @include respond(2col-grid) { font-size: 2.1rem }
};

h6 {
  font-size: 1.6rem;
};

p {
  font-size: 2.2rem;
  font-weight: 100;

  @include respond(3col-grid) { font-size: 1.8rem }
  @include respond(2col-grid) { font-size: 1.6rem }
  @include respond(1col-grid) { font-size: 1.8rem }
};
