// --------------------------------------------------
// Media queries mixin
// --------------------------------------------------
// there are only 3 media queries in this project, where the breakpoint is just
// where the grid columns break.

@mixin respond($breakpoint) {
  @if $breakpoint == 1col-grid-xs {
    @media only screen and (max-width: 22.5em) { @content }; // 360px
  }

  @if $breakpoint == 1col-grid {
    @media only screen and (max-width: 31.1em) { @content }; // 498px
  }

  @if $breakpoint == 2col-grid {
    @media only screen and (max-width: 43.1em) { @content }; // 690px
  }

  @if $breakpoint == 3col-grid {
    @media only screen and (max-width: 56.4em) { @content }; // 901px
  }
}

// use the mixin inside the class:
// @include respond($breakpoint-name) { font-weight: 400; }
